@import url(https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;700&family=Montserrat:wght@200;300;400;500&display=swap);


body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body {
  font-family: sans-serif;
  background-color: aliceblue;
}

/* https://coolors.co/102542-f87060-b3a394-cdd7d6-ffffff */

a,body {
  color: #102542;
}

a {
  text-decoration: none
}

.info-box-image {
  width: 8vw;
  height: 90%;
  box-shadow: 10px 10px;
  margin: 5px;
  transition: transform .3s ease-out;
  display: none;
}
.info-box-image:hover {
  transform: translate(-5px, -5px) !important;
}


@media (max-width: 480px) {
  #drawing_image_wrapper {
    margin-left: 0; 
    margin-right: 0;
  }
  .info-box-image {
    width:100%;
  }
  .info-box {
    padding: 10px 15px 10px 10px !important;
  }
  .title {
    font-size: 70px !important;
  }
  .subtitle {
    font-size: 25px !important;
  }
  #submit_image_input {
    width: 300px !important;
  }
}

#drawing_image_wrapper {
  position: absolute;
  margin-top: 8vw;
  width: 30vw;
  height: 30vw;
  margin-left: 5vw; 
  margin-right: 5vw;
  box-shadow: 5px 5px 10px grey;
  z-index: 1;
}

.info-box-link:hover {
  color:rgb(237, 127, 44);
}

#logo {
   width: 20vw;
}

.drawing_image {
  position: absolute;
  /* opacity: 0; */
  /* margin-top: 8vw; */
  /* width: 30vw; */
  height: 30vw;
  /* margin-left: 5vw;  */
  /* margin-right: 5vw; */
  box-shadow: 5px 5px 10px grey;
  z-index: 2;
}

#poof_gif {
  position: absolute;
  padding-left: 8vw;
  width: 45vw;
  margin-top: 10vh;
  z-index: 5;
  display: none;
}

#submit_image_input {
  width: 20vw;
  margin: auto;

}


#main-page {
  /* display: none; */
}

.info-box {
  position: absolute;
  box-sizing: border-box;
  width: 32vw;
  height: 100vh;
  background-color: #245195;
  padding: 30px 20px 50px 40px;
  overflow-y: scroll;
  scrollbar-width: none
}

.info-box::-webkit-scrollbar {
  display: none
}

.content-box {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: 32vw;
  background-repeat: no-repeat;
}

.casual_text {
  font-family: "Patrick Hand";

}

#upload_your_photo {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.title {
  font-size: 5vw;
  margin-top: 3vh;
  font-weight: 700;
  font-family: "Patrick Hand";
  color:aliceblue;
}

.subtitle {
  margin-top: -5vh;
  font-size: 1.5vw;
  font-family: "Patrick Hand";
  color:aliceblue;
}

#title-segment {
  background-color: #245195;
  /* position: absolute; */
  height: 40vh;
}

.bottom-bar {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  background-color: white;
  border-top: 1px solid grey;
  font-size: 10pt
}

.bottom-text {
  margin-right: 50px;
}

.bottom-text-left {
  width: -webkit-min-content;
  width: min-content;
  margin-left: auto;
  margin-right: 60px;
  align-self: center;
  justify-self: flex-end;
  cursor: pointer
}
